<div id="load-instagram" class="instagram-box">
  <div class="wrapper wrapper--full">
    <h3>
      <a href="https://www.instagram.com/" target="_blank" rel="noopener">ins@youraccount</a>
    </h3>
    <ul id="js-instafeed" class="instagram-box__wrapper">
      <li>
        <a href="https://www.instagram.com/p/" target="_blank" rel="noreferrer">
          <img src="{{asset "img/ins1.jpg"}}" />
        </a>
        <div class="instagram-box__meta">
          <span class="instagram-box__likes">
            5
          </span>
          <span class="instagram-box__comments">
            0
          </span>
        </div>
      </li>
      <li>
        <a href="https://www.instagram.com/p/" target="_blank" rel="noreferrer">
          <img src="{{asset "img/ins2.jpg"}}" />
        </a>
        <div class="instagram-box__meta">
          <span class="instagram-box__likes">
            4
          </span>
          <span class="instagram-box__comments">
            0
          </span>
        </div>
      </li>
      <li>
        <a href="https://www.instagram.com/p/" target="_blank" rel="noreferrer">
          <img src="{{asset "img/ins3.jpg"}}" />
        </a>
        <div class="instagram-box__meta">
          <span class="instagram-box__likes">
            8
          </span>
          <span class="instagram-box__comments">
            0
          </span>
        </div>
      </li>
      <li>
        <a href="https://www.instagram.com/p/" target="_blank" rel="noreferrer">
          <img src="{{asset "img/ins4.jpg"}}" />
        </a>
        <div class="instagram-box__meta">
          <span class="instagram-box__likes">
            5
          </span>
          <span class="instagram-box__comments">
            0
          </span>
        </div>
      </li>
      <li>
        <a href="https://www.instagram.com/p/" target="_blank" rel="noreferrer">
          <img src="{{asset "img/ins5.jpg"}}" />
        </a>
        <div class="instagram-box__meta">
          <span class="instagram-box__likes">
            6
          </span>
          <span class="instagram-box__comments">
            0
          </span>
        </div>
      </li>
      <li>
        <a href="https://www.instagram.com/p/" target="_blank" rel="noreferrer">
          <img src="{{asset "img/ins6.jpg"}}" />
        </a>
        <div class="instagram-box__meta">
          <span class="instagram-box__likes">
            2
          </span>
          <span class="instagram-box__comments">
            0
          </span>
        </div>
      </li>
    </ul>
  </div>
</div>