{{!< default}}

{{!-- 首页走马灯 --}}
{{#get "posts" filter="featured:true" include="tags,authors" as |articles pages|}}
{{#if pages.total}}
<div class="hero">
    <div class="hero__slider">
        {{#foreach articles}}
        <div>
            <div class="hero__wrapper">
                <div class="hero__image">
                    {{#if feature_image}}
                    <img class="hero__image-img lazyload" data-src="{{feature_image}}" data-srcset="{{feature_image}}"
                        data-sizes="auto" height="3070" width="5464"
                        alt="{{title}}" />
                    {{else}}
                    <img class="lazyload" data-src="{{asset "img/placeholder.jpg"}}"
                        data-srcset="{{asset "img/placeholder.jpg"}}"
                        data-sizes="auto" height="3070" width="5464" alt="{{title}}" />
                    {{/if}}
                </div>
                <div class="hero__inner center">
                    <h1 class="hero__title">
                        <a {{#if canonical_url}}href="{{canonical_url}}" target="_blank" rel="noopener"
                            {{else}}href="{{url}}" {{/if}} class="invert">{{title}}</a>
                    </h1>
                    <div class="post__meta">
                        <time class="page__item-date"
                            datetime="{{date format="YYYY-MM-DD"}}">{{date format="YYYY, MMM Do"}}</time>
                        {{#if tags}}
                        {{#foreach tags}}
                        <span class="post__meta-category tag-{{slug}}"><a href="{{url}}">{{name}}</a></span>
                        {{/foreach}}
                        {{/if}}
                        <span
                            class="post__meta-reading-time">{{reading_time minute=(t "1 min read") minutes=(t "% min read")}}</span>
                    </div>
                </div>
            </div>
        </div>
        {{/foreach}}
    </div>
</div>
{{/if}}
{{/get}}

{{!-- 首页列表 --}}
<main class="main main--with-pagination">
    <div class="wrapper">
        <div class="page">
            {{#foreach posts}}
            {{> "post-card"}}
            {{/foreach}}
        </div>
        {{!-- 分页 --}}
        {{pagination}}
    </div>
</main>